*,
*::before,
*::after {
   margin: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   text-decoration: none;
}

body,
html {
   width: 100%;
   scroll-behavior: smooth;
   overflow: hidden auto;
   background-color: var(--White);
}

:root {
   /* Colors */
   --White: #f2f2f2;
   --White_Faded: #f2f2f2a9;
   --Black: #070707;
   --Gray: #a2a2a9;

   /* Fonts */
   --Aften_Screen: Aften_Screen, Arial, Helvetica, sans-serif;
   --Benton_Sans_Regular: Benton_Sans_Regular, Arial, Helvetica, sans-serif;
}

@font-face {
   font-family: Aften_Screen;
   src: url(Font/Aften_Screen.ttf);
}
@font-face {
   font-family: Benton_Sans_Regular;
   src: url(Font/Benton_Sans_Regular.ttf);
}

#wrapper {
   width: 100%;
   overflow: hidden auto;
}

nav {
   user-select: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   inset: 0 0 auto 0;
   padding: clamp(0.7em, 2vw, 2em);
   z-index: 9;
   background-color: var(--White_Faded);
   backdrop-filter: blur(10px);
}

.nav_logo_svg {
   width: 7em;
   color: var(--Black);
}

.nav_right {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 50%;
}

.nav_right a {
   font-family: var(--Benton_Sans_Regular);
   text-transform: uppercase;
   color: var(--Black);
   font-size: 0.8rem;
   position: relative;
}

.nav_right_left {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2em;
}

.nav_active::after {
   position: absolute;
   content: "";
   left: 0;
   bottom: 0;
   width: 100%;
   height: 0.05em;
   background-color: var(--Black);
}

#hamburger_button {
   cursor: pointer;
   display: none;
}

#hamburger_button p {
   font-family: var(--Benton_Sans_Regular);
   text-transform: uppercase;
   color: var(--Black);
   font-size: 0.8rem;
}

main {
   height: 90vh;
   height: 90svh;
   position: relative;
   padding: clamp(0.7em, 2vw, 2em);
}

.main_top {
   height: 50%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: end;
}

.main_top_content {
   position: absolute;
   inset: 0 0 0 auto;
   height: 100%;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: end;
}

.main_top_content span,
.main_top_content p {
   font-family: var(--Benton_Sans_Regular);
   text-transform: uppercase;
   font-size: 0.8rem;
}

.main_top_content span {
   color: var(--Gray);
}

.main_top_content p {
   color: var(--Black);
}

.main_bottom {
   height: 50%;
   position: relative;
}

.main_bottom_content {
   height: 50%;
   display: flex;
   align-items: center;
}

.main_bottom_content:first-child {
   justify-content: start;
}

.main_bottom_content:last-child {
   justify-content: space-between;
}

.main_bottom_content h1,
.main_and_symbol {
   font-family: var(--Aften_Screen);
   font-size: clamp(3rem, 15vw, 10rem);
   font-weight: 300;
   letter-spacing: -3px;
}

.main_bottom_content h1 .char {
   color: var(--Black);
}

.main_and_symbol {
   color: var(--Gray);
}

#area2 {
   aspect-ratio: 16 / 10;
   padding: clamp(0.7em, 2vw, 2em);
   position: relative;
}

#area2 video {
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 0.5em;
}

#area3 {
   position: relative;
   height: 70vh;
   height: 70svh;
   padding: clamp(0.7em, 2vw, 2em);
}

.area3_top {
   width: 100%;
   height: 50%;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
}

.area3_top span,
.area3_top h2 {
   font-family: var(--Aften_Screen);
   font-size: clamp(2rem, 9vw, 6rem);
   font-weight: 300;
   letter-spacing: -3px;
}

.area3_top span {
   color: var(--Gray);
}

.area3_top h2 .char {
   color: var(--Black);
}

.area3_bottom {
   width: 100%;
   height: 50%;
   display: flex;
   align-items: center;
   justify-content: end;
}

.area3_bottom_content {
   height: 100%;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   gap: 2em;
}

.area3_bottom_content p,
.area3_bottom_content a {
   font-family: var(--Benton_Sans_Regular);
   text-transform: uppercase;
   font-size: 0.8rem;
   color: var(--Black);
}

.area3_bottom_content a {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5em;
}

.area3_bottom_content a span {
   height: 0.05em;
   width: 1em;
   background-color: var(--Black);
   border-radius: 9em;
   transition: width 300ms ease-in-out;
}

.area3_bottom_content a:hover span {
   width: 3em;
}

#area4 {
   height: fit-content;
   position: relative;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0.5em;
   padding: clamp(0.7em, 2vw, 2em);
}

.area4_boxes {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   gap: 0.5em;
   height: 50vh;
   height: 50svh;
}

.area4_images_div {
   width: 100%;
   height: 90%;
   position: relative;
   overflow: hidden;
   border-radius: 0.5em;
}

.area4_images_div svg {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0);
   width: 5em;
   z-index: 3;
   color: var(--White);
   opacity: 0;
   pointer-events: none;
   transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition-property: transform, opacity;
}

.area4_boxes:hover .area4_images_div svg {
   opacity: 1;
   transform: translate(-50%, -50%) scale(1);
}

.area4_images_div img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   filter: brightness(1);
   transition: 300ms ease-in-out;
   transition-property: filter;
}

.area4_boxes:hover .area4_images_div img {
   filter: brightness(0.7);
}

.area4_title_div {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.3em;
}

.area4_title_div p,
.area4_title_div span {
   font-family: var(--Benton_Sans_Regular);
   font-size: clamp(1.2rem, 2vw, 1.5rem);
   line-height: 1;
}

.area4_title_div p {
   color: var(--Black);
}

.area4_title_div span {
   color: var(--Gray);
}

.area4_title_div div,
.area5_links span {
   width: 1em;
   height: 0.1em;
   background-color: var(--Gray);
   border-radius: 9em;
   transition: 300ms ease-in-out width;
}

.area4_boxes:hover .area4_title_div div {
   width: 2em;
}

#area5 {
   height: 60vh;
   height: 60svh;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: end;
   position: relative;
   padding: clamp(0.7em, 2vw, 2em);
}

.area5_content {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.area5_links {
   width: 100%;
   padding: 1.5em 0;
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 0.5em;
   border-top: solid 0.05em var(--Gray);
}

.area5_links:last-child {
   border-bottom: solid 0.05em var(--Gray);
}

.area5_links h6,
.area5_links h5 {
   font-family: var(--Benton_Sans_Regular);
   font-size: clamp(1.2rem, 2vw, 1.5rem);
   line-height: 1;
   font-weight: 300;
}

.area5_links h6 {
   color: var(--Black);
}

.area5_links h5 {
   color: var(--Gray);
}

.spacer {
   height: 200vh;
}

@media (width <= 900px) {
   .nav_logo_svg {
      width: 6em;
   }

   .nav_right {
      display: none;
   }

   #hamburger_button {
      display: inline;
   }

   #area4 {
      grid-template-columns: 1fr;
      gap: 1.5em;
   }

   .area4_images_div svg {
      display: none;
   }
}

@media (width <= 800px) {
   #area2 {
      padding: 0;
   }

   #area2 video {
      border-radius: 0;
   }

   main,
   #area3 {
      height: 60vh;
      height: 60svh;
   }
}

@media (width <= 500px) {
   .main_top,
   .area3_bottom {
      height: 60%;
   }

   .main_top_content,
   .area3_bottom_content {
      width: 80%;
   }

   .main_bottom,
   .area3_top {
      height: 40%;
   }

   .area4_boxes {
      height: 40vh;
      height: 40svh;
   }
}

@media (width <= 400px) {
   .main_and_symbol {
      display: none;
   }
}
