*,
*::before,
*::after {
   margin: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   text-decoration: none;
}

body,
html {
   width: 100%;
   scroll-behavior: smooth;
   overflow: hidden auto;
   background-color: var(--White);
   scrollbar-gutter: stable;
}

:root {
   /* Colors */
   --White: #f2f2f2;
   --White_Faded: #f2f2f2a9;
   --Black: #070707;
   --Gray: #a2a2a9;

   /* Fonts */
   --Aften_Screen: Aften_Screen, Arial, Helvetica, sans-serif;
   --Benton_Sans_Regular: Benton_Sans_Regular, Arial, Helvetica, sans-serif;
}

@font-face {
   font-family: Aften_Screen;
   src: url(Font/Aften_Screen.ttf);
}
@font-face {
   font-family: Benton_Sans_Regular;
   src: url(Font/Benton_Sans_Regular.ttf);
}

#wrapper {
   width: 100%;
   overflow: hidden auto;
}

nav {
   user-select: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   inset: 0 0 auto 0;
   padding: clamp(0.7em, 2vw, 2em);
   z-index: 9;
   background-color: var(--White_Faded);
   backdrop-filter: blur(10px);
}

.nav_logo_svg {
   width: 7em;
   color: var(--Black);
}

.nav_right {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 50%;
}

.nav_right a {
   font-family: var(--Benton_Sans_Regular);
   text-transform: uppercase;
   color: var(--Black);
   font-size: clamp(0.7rem, 1vw, 0.8rem);
   position: relative;
}

.nav_right_left {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2em;
}

.nav_active::after {
   position: absolute;
   content: "";
   left: 0;
   bottom: 0;
   width: 100%;
   height: 0.05em;
   background-color: var(--Black);
}

#hamburger_button {
   cursor: pointer;
   display: none;
}

#hamburger_button p {
   font-family: var(--Benton_Sans_Regular);
   text-transform: uppercase;
   color: var(--Black);
   font-size: clamp(0.7rem, 1vw, 0.8rem);
}

main {
   height: 90vh;
   height: 90svh;
   position: relative;
   padding: clamp(0.7em, 2vw, 2em);
}

.main_top {
   height: 50%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: end;
}

.main_top_content {
   position: absolute;
   inset: 0 0 0 auto;
   height: 100%;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: end;
}

.main_top_content span,
.main_top_content p {
   font-family: var(--Benton_Sans_Regular);
   text-transform: uppercase;
   font-size: clamp(0.7rem, 1vw, 0.8rem);
}

.main_top_content span {
   color: var(--Gray);
}

.main_top_content p {
   color: var(--Black);
}

.main_bottom {
   height: 50%;
   position: relative;
}

.main_bottom_content {
   height: 50%;
   display: flex;
   align-items: center;
}

.main_bottom_content:first-child {
   justify-content: start;
}

.main_bottom_content:last-child {
   justify-content: space-between;
}

.main_bottom_content h1,
.main_bottom_content span {
   font-family: var(--Aften_Screen);
   font-size: clamp(3rem, 13vw, 10rem);
   font-weight: 300;
   letter-spacing: -3px;
}

.main_bottom_content h1 .char {
   color: var(--Black);
}

.main_bottom_content span {
   color: var(--Gray);
}

#area2 {
   aspect-ratio: 16 / 10;
   padding: clamp(0.7em, 2vw, 2em);
   position: relative;
}

#area2 video {
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 0.5em;
}

#area3 {
   position: relative;
   height: 70vh;
   height: 70svh;
   padding: clamp(0.7em, 2vw, 2em);
}

.area3_top {
   width: 100%;
   height: 50%;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
}

.area3_top span,
.area3_top h2 {
   font-family: var(--Aften_Screen);
   font-size: clamp(2rem, 9vw, 6rem);
   font-weight: 300;
   letter-spacing: -3px;
}

.area3_top span {
   color: var(--Gray);
}

.area3_top h2 .char {
   color: var(--Black);
}

.area3_bottom {
   width: 100%;
   height: 50%;
   display: flex;
   align-items: center;
   justify-content: end;
}

.area3_bottom_content {
   height: 100%;
   width: 50%;
}

.area3_bottom_content {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   gap: 2em;
}

.area3_bottom_content p,
.area3_bottom_content a {
   font-family: var(--Benton_Sans_Regular);
   text-transform: uppercase;
   font-size: clamp(0.7rem, 1vw, 0.8rem);
   color: var(--Black);
}

#area4 {
   height: fit-content;
   background-color: red;
   position: relative;
   overflow: hidden;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1em;
   padding: clamp(0.7em, 2vw, 2em);
}

.area4_boxes {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   aspect-ratio: 16 / 9;
   gap: 1em;
   background-color: green;
}

.area4_boxes img {
   width: 100%;
   object-fit: cover;
}

.spacer {
   height: 200vh;
}

@media (width <= 900px) {
   .nav_logo_svg {
      width: 6em;
   }

   .nav_right {
      display: none;
   }

   #hamburger_button {
      display: inline;
   }
}

@media (width <= 800px) {
   #area2 {
      padding: 0;
   }

   #area2 video {
      border-radius: 0;
   }

   main,
   #area3 {
      height: 60vh;
      height: 60svh;
   }
}

@media (width <= 500px) {
   .main_top,
   .area3_bottom {
      height: 60%;
   }

   .main_top_content,
   .area3_bottom_content {
      width: 90%;
   }

   .main_bottom,
   .area3_top {
      height: 40%;
   }
}
